@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
    background-color: #f4f4f4;
}

.App {
    min-height: calc(100vh - 30px);
    padding: 40px;
    background: #fff;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pagination .prev,
.pagination .next {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3.6rem;
    letter-spacing: 1px
}

h1 span {
    color: #e0e0e0;
}

.header svg {
    font-size: 2rem;
}

.filter  {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 30px;
    align-items: center;
}

.filter ul {
    display: flex;
}

.filter h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.filter li {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-left: 3vw;
    font-weight: 400;
}

.filter li:first-child {
    margin-left: 0;
}

.filter label {
    display: flex;
    align-items: center;
}

.filterByType input {
    margin-right: 7px;
    opacity: 0;
}

.filterByType label {
    position: relative;
    cursor: pointer;
}

.filterByType .checkIcon {
    position: absolute;
    left: 0;
    display: flex;
}

.filterByType .checkIcon svg {
    font-size: 1.2rem;
}

.filterByType {
    width: 65%;
}

.filterBySearch {
    width: 35%;
}

.searchBox input {
    border: 0;
    border-bottom: 2px solid #000;
    width: 100%;
    font-size: 18px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.searchBox input:focus {
    outline: 0;
}

table {
    width: 100%;
    table-layout: fixed;
}

.airportList {
    overflow: scroll;
}


table td,
table th {
    text-align: left;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    width: calc(100%/6);
}

table th {
    font-weight: 600;
    background: #e7e7e7;
}

.greyBg td {
    background: #f4f4f4;
}

.count span {
    font-weight: 600;
}

.count p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.pagination svg {
    font-size: 1.4rem;
}

.favourite {
    vertical-align: middle;
    padding-left: 10px;
}

.noResults {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 2rem 0;
}

@media screen and (max-width: 1024px) {
    table td, table th {
        width: 200px;
    }

    .filter li {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.6rem;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
    }

    .filterByType {
        width: 100%;
        margin-bottom: 30px;
    }

    .filter h2 {
        padding-bottom: 15px;
    }

    .filter {
        padding: 50px 0;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    table td, table th {
        font-size: 0.9rem;
        width: 150px;
    }

    .filterByType {
        width: 100%;
        margin-bottom: 30px;
    }

    .filter h2 {
        padding-bottom: 15px;
    }

    .filter h2 {
        line-height: 1.4;
        font-size: 1.1rem;
    }

    .App {
        padding: 25px
    }

    .filter {
        padding: 40px 0;
    }

    .filter ul {
        width: 100%;
        flex-wrap: wrap;
    }

    .filter li {
        margin: 0;
        width: 50%;
        margin-bottom: 10px;
    }

    .filter li:last-child {
        margin-bottom: 0;
    }

    .count p {
        font-size: 0.9rem;
    }

    .pagination svg {
        font-size: 1.1rem;
    }
}